/* iPhone 5/SE */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .brand-logo {
        /* this one only works when I use the 'important' property */
        font-size: 1.4em !important;
    }
    nav, .page-footer {
        width: 350px;
    }
    main {
        width: 350px;
        align-content: center;
    }

    .main-container {
        margin: 40px 40px;
    }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .brand-logo {
        font-size: 1.4em;
    }
    nav, .page-footer {
        width: 568px;
    }
    main {
       width: 580px;
       align-content: center;
    }

    .main-container, .content-container {
       margin: 50px;
    }
}


/* iPhone 6/7/8 */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .brand-logo {
        font-size: 1.5em;
    }
    nav, main, .page-footer {
        width: 380px;
    }

    .main-container, .content-container {
        margin: 40px 40px;
    }
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .brand-logo {
        font-size: 1.5em;
    }
    nav, main, .page-footer {
        width: 667px;
    }

    .main-container, .content-container {
        margin: 50px 50px;
    }
}


/* iPhone 6/7/8 Plus */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .brand-logo {
        font-size: 1.5em;
    }
    nav, main, .page-footer {
        width: 415px;
    }
}

@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .brand-logo {
        font-size: 1.5em;
    }
    nav, .page-footer, main {
        width: 736px;
    }
    .main-container, .content-container {
        margin: 50px;
    }

}

/* iPhone X  */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .brand-logo {
        font-size: 1.5em;
    }
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .brand-logo {
        font-size: 1.5em;
    }
    nav, .page-footer, main {
        width: 915px;
    }
    .main-container, .content-container {
        /* this only works when I use the 'important' property */
        margin: 75px 45px !important;
    }
}

/* iPad 1/2/Mini/Air */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {
    .main-container, .content-container {
        width: 565px;
        margin: 100px 100px;
    }
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: landscape) {
    .main-container, .content-container {
        width: 815px;
        margin: 100px 100px;
    }
}